@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto Sans;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #dcd7ff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-1 {
    display: flex;
    width: 100vw;
    height: calc(100vh - 5rem);
    background-color: #dcd7ff;
    flex-direction: column;

}

.form-container {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.14);
    padding: 1rem 3rem;
    align-items: center;
    max-width: 25rem;
    min-width: 10rem;
}

.form-title {
    color: #000;
    font-family: Noto Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 1rem;
}

.input-box {
    margin: 10px 0px;
    width: 17rem;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 0.5px solid #000;
    background: #fff;
}

.input-box input {
    outline: none;
    border: none;
    font-size: 15px;
    width: 100%;
}

.btn {
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    background: var(--btn, #8f7eff);
    color: #fff;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-width: 10rem;
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn i::before {
    margin: 0;
    font-size: 18px;
    text-align: center;
    vertical-align: middle !important;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-app-icon {
    display: flex;
    margin: 1rem;
}

.text {
    margin: 0.5rem;
}

.icon {
    background-color: #fff;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.22));
    margin: 0.5rem;
    padding: 10px;
    justify-content: center;
    display: flex;
}

.icon img {
    width: 2rem;
}

.b-line {
    margin: 10px 2rem;
}

.b-line span {
    text-decoration: underline;
    cursor: pointer;
}

.navbar {
    background: #9c8fed;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(36, 36, 36, 0.17);
    min-height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title {
    color: #fff;
    text-align: center;
    font-family: Noto Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.top-menu {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.card {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.18);
    width: 23rem;
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-height: 9.5rem;
    justify-content: space-between;
}

.card-title {
    color: #000;
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.card-priority {
    color: #484848;
    text-align: justify;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card-note {
    color: #484848;
    font-family: Noto Sans;
    font-size: 15px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-height: 1.3;
    /* fallback */
    max-height: 2;
    margin-bottom: 10px;
    margin-top: 5px;
}

.card-div {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.card-option {
    position: absolute;
    right: -10%;
    top: 1.5rem;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.18);
    display: none;
}

.card-baseline {
    color: #000;
    text-align: justify;
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.card-ol {
    list-style: none;
    padding: 0.5rem 1rem;
}

.data-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.dialog-layout {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.dialog-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 80%;
    position: relative;
    border-radius: 10px;
    max-width: 500px;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 28px;
    cursor: pointer;
}

.entity-add-form h2 {
    text-align: center;
}


.entity-add-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.entity-add-form input[type="number"]::-webkit-inner-spin-button,
.entity-add-form input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.entity-add-form input[type="number"] {
    -moz-appearance: textfield;
}

.entity-add-form input[type="text"],
.entity-add-form input[type="number"],
.entity-add-form input[type="email"],
.entity-add-form input[type="password"],
.entity-add-form input[type="tel"],
.entity-add-form input[type="datetime-local"],
.entity-add-form select,
.entity-add-form input[type="file"],
.entity-add-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;


}

.entity-add-form textarea {
    font-weight: 100;
    resize: none;
    min-height: 10rem;
}


@media screen and (max-width: 768px) {
    .form-container {
        padding: 1rem 1rem;
    }

    .form-title {
        font-size: 25px;
    }

    .btn {
        margin: 1rem 0.5rem;
        font-size: 15px;
    }

    .login-app-icon {
        margin: 10px;
    }

    .b-line {
        font-size: 15px;
    }
}